<div class="form-section">
  <h2>Analisis CSV Sentimen & Emosi</h2>
  <form action="/analyze_csv" method="post" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control" accept=".csv" required>
    <input type="submit" value="Analisis" >
  </form>

  {% if results %}
  <hr>
  <h4>Hasil Analisis (Top 200 Data):</h4>
  <table class="result-table">
    <thead>
      <tr>
        <th>Customer Review</th>
        <th>Sentimen</th>
        <th>Emosi</th>
      </tr>
    </thead>
    <tbody>
      {% for r in results %}
      <tr>
        <td>{{ r.review }}</td>
        <td class="{% if r.sentiment == 'positive' %}positive{% elif r.sentiment == 'negative' %}negative{% else %}neutral{% endif %}">
          {{ r.sentiment }}
        </td>
        <td>{{ r.emotion }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}